<div class="container">
  <h3 mat-dialog-title class="title">Update Employee</h3>
  <span class="divider"><hr /></span>
  <div class="info">
    <p>
      An employee information form is an important human resources (HR) document
      that every new employee must complete and maintain It contains important
      personal information about each employee.
    </p>
  </div>
  <form class="mat-dialog-content" [formGroup]="form">
    <div class="outline-fields-container">
      <div class="field-container">
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Id</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="id"
              formControlName="id"
              name="id"
              pattern="^[0-9]*$"
            />
          </mat-form-field>
        </div>
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="fullName"
              formControlName="fullName"
              name="fullName"
              pattern="^([a-zA-z,/.-]+)\s([a-zA-z,/.-]+)$"
              required
            />
          </mat-form-field>
        </div>
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Email</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="email"
              formControlName="email"
              name="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div></div>
      <div class="field-container2">
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Salary</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="salary"
              formControlName="salary"
              name="salary"
              pattern="^[0-9]*$"
              required
            />
          </mat-form-field>
        </div>
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Experiance</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="experiance"
              formControlName="experiance"
              name="experiance"
              pattern="^[0-9]*$"
              required
            />
          </mat-form-field>
        </div>
        <div class="forms">
          <mat-form-field appearance="outline" [style.width.px]="327">
            <mat-label>Department</mat-label>
            <input
              matInput
              #inputstate
              class="form-control"
              placeholder="department"
              formControlName="department"
              name="department"
              pattern="^([a-zA-z,/.-]+)\s([a-zA-z,/.-]+)$"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div mat-dialog-actions class="actions-container">
      <button
        mat-button
        type="submit"
        (click)="editItem()"
        title="update Item"
        class="button"
      >
        Update
      </button>
      <button
        mat-button
        (click)="close()"
        tabindex="-1"
        title="Close modal"
        class="button"
      >
        Close
      </button>
    </div>
  </form>
</div>
